force-app/main/default/flows/Automated_Contract_Renewal_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendEmail</name>
        <label>SendEmail</label>
        <locationX>50</locationX>
        <locationY>1092</locationY>
        <actionName>EmailSenderUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>conList</name>
            <value>
                <elementReference>NewContractCollector</elementReference>
            </value>
        </inputParameters>
        <nameSegment>EmailSenderUtility</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>AssignRenewdContractsToCollector</name>
        <label>AssignRenewdContractsToCollector</label>
        <locationX>138</locationX>
        <locationY>1416</locationY>
        <assignmentItems>
            <assignToReference>ExistingContractCollector</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_Contract_Values</name>
        <label>Copy Contract Values</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>CollectedContracts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetNext30DaysContracts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Contracts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ExistingConractRenewed</name>
        <label>ExistingConractRenewed</label>
        <locationX>138</locationX>
        <locationY>1308</locationY>
        <assignmentItems>
            <assignToReference>Loop_2.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Renewed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignRenewdContractsToCollector</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Contract_Collection</name>
        <label>New Contract Collection</label>
        <locationX>138</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>NewContractCollector</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Contracts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Contracts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Date_and_Status_Fields</name>
        <label>Update Date and Status Fields</label>
        <locationX>138</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>Loop_Contracts.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Contracts.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Contracts.Previous_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Contracts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Contracts.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>New_Contract_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_For_Null</name>
        <label>Check For Null</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetNext30DaysContracts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_Contract_Values</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NewStartDate</name>
        <dataType>Date</dataType>
        <expression>{!Loop_Contracts.EndDate}+1</expression>
    </formulas>
    <formulas>
        <name>NextNDays</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + VALUE({!$Label.Next_N_Days_For_Contract_End})</expression>
    </formulas>
    <interviewLabel>Automated Contract Renewal Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Automated Contract Renewal Flow</label>
    <loops>
        <name>Loop_2</name>
        <label>Loop 2</label>
        <locationX>50</locationX>
        <locationY>1200</locationY>
        <collectionReference>GetNext30DaysContracts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ExistingConractRenewed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>RenewExistingContracts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Contracts</name>
        <label>Loop Contracts</label>
        <locationX>50</locationX>
        <locationY>576</locationY>
        <collectionReference>CollectedContracts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Date_and_Status_Fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Contract_Renewal_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Contract_Renewal_Records</name>
        <label>Create Contract Renewal Records</label>
        <locationX>50</locationX>
        <locationY>984</locationY>
        <connector>
            <targetReference>SendEmail</targetReference>
        </connector>
        <inputReference>NewContractCollector</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get Active and Expiring Contracts within the next 30 Days</description>
        <name>GetNext30DaysContracts</name>
        <label>GetNext30DaysContracts</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_For_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>NextNDays</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>RenewExistingContracts</name>
        <label>RenewExistingContracts</label>
        <locationX>50</locationX>
        <locationY>1608</locationY>
        <inputReference>ExistingContractCollector</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetNext30DaysContracts</targetReference>
        </connector>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2024-06-11</startDate>
            <startTime>12:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CollectedContracts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>EmailList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExistingContractCollector</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>NewContractCollector</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
</Flow>
